<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Me</h2>
      <p>
        삼성에서 약 1년간의 연수원 생활과 수석 졸업을 했으며, 약 9년간의
        대기업에서의 근무 경험을 보유하고습니다. <br />현재는 루미르 인공위성
        Web-GIS 플랫폼 백엔드 개발자로 근무하고 있습니다.
        <br />
        <br />
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>최선을 다하는 백엔드 개발자 김종식입니다.</h3>
        <!-- <p class="fst-italic">
          사회에 나와서 이미 9년간의 사회 경력을 쌓았지만, 개발자로서는 아직
          많이 부족합니다. 그렇기 때문에 뛰어난 개발자 분들과 일하며 더욱 열심히
          공부하고, 더욱 노력하고, 더욱 성장하고 싶습니다.
        </p> -->
        <br />
        <br />
        <div class="row">
          <div class="col-lg-12">
            <ul>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>회사와 도메인의 성장을 우선하는 성향</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>언어를 깊게 이해하려고 하는 성향</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>TDD를 통한 서비스로직을 구현을 지향</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>기획과 아키텍처 설계 지향</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>Diagram를 통한 문서화 시각화 작업을 지향</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>사이드프로젝트 리더 역할 다수 경험</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>Frontend, DevOps 등 다양한 분야에 관심이 많음</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>Nest.js & Docker를 활용한 MSA 구축 경험 다수 보유</span>
              </li>
              <li>
                <i class="bx bxs-check-square"></i>
                <span>Jira를 활용한 프로젝트 관리 경험 다수 보유</span>
              </li>
            </ul>
          </div>
          <!-- <div class="col-lg-6">
              <ul></ul>
            </div> -->
        </div>
        <p></p>
      </div>
    </div>
  </div>
</section>
