<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>김종식 포트폴리오</h1>
    <p>
      I'm
      <span
        class="typed"
        data-typed-items="Backend, Web Engineer, DevOps, Web Developer"
      ></span>
    </p>
    <div class="social-links">
      <a href="#" class="github"><i class="bx bxl-github"></i></a>
      <a href="#" class="blog"><i class="bx bx-link"></i></a>
      <a href="#" class="ahaproject_portfolio"
        ><i class="bx bxs-file-pdf"></i
      ></a>
      <a href="#" class="web-gis_portfolio"><i class="bx bxs-file-pdf"></i></a>
    </div>
  </div>
</section>
