<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>
        새로 터득한 것을 바탕으로 사이드 프로젝트를 진행하고 있습니다.
        <br />매 프로젝트마다 팀 리더로서의 역할을 수행하였습니다.
      </p>
    </div>

    <div class="row">
      <div
        class="col-lg-12 d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <!-- <li data-filter=".filter-app">App</li> -->
          <!-- <li data-filter=".filter-card">Card</li> -->
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/portfolio-3.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Web-GIS[PL]</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/portfolio-3.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Web-GIS"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="portfolio-web-gis.html"
                class="portfolio-details-lightbox"
                data-glightbox="type: external"
                title="Portfolio Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/portfolio-2.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>아하프로젝트[PL]</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/portfolio-2.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="아하프로젝트"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="portfolio-ahaproject.html"
                class="portfolio-details-lightbox"
                data-glightbox="type: external"
                title="Portfolio Details"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="assets/img/portfolio/portfolio-1.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>지역기반 모임 웹 어플리케이션</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-1.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="지역기반 모임 웹 어플리케이션"
                  ><i class="bx bx-plus"></i
                ></a>
                <a
                  href="portfolio-details.html"
                  class="portfolio-details-lightbox"
                  data-glightbox="type: external"
                  title="Portfolio Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>
