<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        새로운 것을 받아들이고 끊임없이 변화하고 적응하는 성향입니다.
        <br />
        배움은 항상 저를 즐겁게 해줍니다.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>학점은행제 (졸업)</h4>
          <h5>2021.04~2024.08</h5>
          <p><em>컴퓨터공학과</em></p>
          <!-- <p>
            회사를 다니며 학사 취득을 위해 시작하였으나, 개발자로 전향하며
            컴퓨터공학과로 전과하였습니다. 기본에 좀 더 충실한 개발자를
            지향합니다.
          </p> -->
        </div>
        <div class="resume-item">
          <h4>거제공업고등학교 (졸업)</h4>
          <h5>2011.03~2014.02</h5>
          <p><em>특성화/마이스터고</em></p>
          <!-- <p>
            고등학교 2학년 1학기에 삼성에 입사하였습니다. <br />
            고등학교 전교 4등, 반장 경험을 하였습니다.
          </p> -->
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>루미르</h4>
          <h5>2023 ~ present</h5>
          <p><em>선임 연구원</em></p>
          <ul>
            <li>SARDIP 플랫폼 개발 (Web Part Leader)</li>
            <ul>
              <li>위성 관측 플랫폼 설계 및 기획 수행</li>
              <li>개발 일정관리 및 협의업무 수행</li>
              <li>인공위성 영상을 제공하는 플랫폼 프로토타입 개발</li>
              <li>
                .tif 파일 업로드 기능 오픈소스로 개발 및 최적화 (기존 3분 ->
                15초)
              </li>
              <li>
                여러 위성에서 제공하는 위성 영상을 하나의 플랫폼에서 제공할 수
                있는 기능 개발
              </li>
              <li>위성 영상 렌더링 속도 최적화 (기존 3초 -> 0.2초)</li>
              <li>
                영상처리 알고리즘 처리 프로세스 관리 기능 및 자동화 기능 개발
              </li>
            </ul>
            <li>위성 관측 플랫폼 개발 (Web Part Leader)</li>
            <ul>
              <li>위성 관측 플랫폼 설계 및 기획 수행</li>
              <li>개발 일정관리 및 협의업무 수행</li>
            </ul>
            <li>개발 채용 관리 시스템 개발 (Project Leader)</li>
            <ul>
              <li>개발 채용 관리 시스템 설계 및 기획 수행</li>
              <li>개발 일정관리 및 협의업무 수행</li>
              <li>시스템 인프라 구축 및 관리 수행</li>
              <li>시스템 개발을 통한 채용업무 프로세스 개선 (MM 90% 개선)</li>
            </ul>
            <li>국가 과제 알림 시스템 개발 (Project Leader)</li>
            <ul>
              <li>국가 과제 알림 시스템 설계 및 기획 수행</li>
              <li>
                국가 과제 자동 검색 및 제공으로 업무 프로세스 개선 (MM 99% 개선)
              </li>
            </ul>
            <li>근태 관리 시스템 개발 (Project Leader)</li>
            <ul>
              <li>채용 관리 시스템 설계 및 기획 수행</li>
              <li>개발 일정관리 및 협의업무 수행</li>
              <li>
                사내 출퇴근 및 근태 관리를 통해 인사 관리업무 프로세스 개선
              </li>
            </ul>
          </ul>
        </div>
        <div class="resume-item">
          <h4>삼성중공업</h4>
          <h5>2014 ~ 2022</h5>
          <p><em>기장철의설계3년, 시운전팀 6년</em></p>
          <ul>
            <li>
              EVERGREEN <br />
              2019-01-01 ~ 2022-09-01<br />
              Evergreen 선사 container 를 2년 넘게 설계 및 담당.<br />
              선주대응 업무 및 협의 업무 수행. <br />
              호선에 필요한 발주 및 벤더 관리<br />
            </li>
            <li>
              FLNG<br />
              2016-05-01 ~ 2018-12-01<br />
              호주의shell사의 FLNG를 테스트하는 시운전팀에서 근무<br />
              선내에 배치된 M/E, G/E, Pump, Separator 등 테스트를 위한 사전 검사
              및 운용<br />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
