<section id="skills" class="skills section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Skills</h2>
      <p>새로운 것을 배우고, 깊게 이해하는 것을 좋아합니다.</p>
    </div>

    <div class="row skills-content">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Stack</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Language</th>
              <td>
                <img
                  height="25"
                  src="https://img.shields.io/badge/Java-007396?style=flat-square&logo=Java&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=black"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/TypeScript-3178C6?style=flat-square&logo=TypeScript&logoColor=white"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">FrontEnd</th>
              <td>
                <img
                  height="25"
                  src="https://img.shields.io/badge/HTML5-E34F26?style=flat-square&logo=HTML5&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/CSS3-1572B6?style=flat-square&logo=CSS3&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Bootstrap-7952B3?style=flat-square&logo=Bootstrap&logoColor=white"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">BackEnd</th>
              <td>
                <img
                  height="25"
                  src="https://img.shields.io/badge/SpringBoot-6DB33F?style=flat-square&logo=SpringBoot&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Node.js-339933?style=flat-square&logo=Node.js&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/NestJs-E0234E?style=flat-square&logo=NestJs&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Express-000000?style=flat-square&logo=Express&logoColor=white"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">DataBase</th>
              <td>
                <img
                  height="25"
                  src="https://img.shields.io/badge/MySQL-4479A1?style=flat-square&logo=MySQL&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/PostgreSQL-4169E1?style=flat-square&logo=PostgreSQL&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/MongoDB-47A248?style=flat-square&logo=MongoDB&logoColor=white"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Dev/Ops</th>
              <td>
                <img
                  height="25"
                  src="https://img.shields.io/badge/GitLab-FC6D26?style=flat-square&logo=GitLab&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/GitHub Actions-2088FF?style=flat-square&logo=GitHub Actions&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Amazon AWS-225F3E?style=flat-square&logo=AmazonAWS&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Docker-2496ED?style=flat-square&logo=Docker&logoColor=white"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Tools</th>
              <td>
                <img
                  height="25"
                  src="https://img.shields.io/badge/Git-F05025?style=flat-square&logo=Git&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/GitHub-181717?style=flat-square&logo=GitHub&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Jira-0052CC?style=flat-square&logo=Jira&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Confluence-172B4D?style=flat-square&logo=Confluence&logoColor=white"
                />
                <img
                  height="25"
                  src="https://img.shields.io/badge/Notion-000000?style=flat-square&logo=Notion&logoColor=white"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-lg-6">
          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="progress">
            <span class="skill">PHP <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">WordPress/CMS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Photoshop <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="55"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>
